<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center text-muted"><em class="small">Etomica is dedicated to the memory of Bryan Mihalick.</em></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="list-unstyled small" id="footer-links">
                    <li><a href="">Department of Chemical Engineering</a></li>
                    <li><a href="">Center for Computational Research</a></li>
                    <li><a href="">University of Buffalo</a></li>
                    <li><a href="">School of Engineering and Applied Sciences</a></li>
                    <li><a href="">Contact Etomica Support</a></li>
                </ul>
            </div>

            <div class="col text-center text-muted">
                <img id="nsf-logo" src="/img/nsf1.gif" alt="" class="img-fluid">
                <img id="ub-logo" src="/img/ub_logo.png" alt="" class="img-fluid">

                <p class="small">
                    This material is based on work supported by the National Science Foundation and performed in the Chemical Engineering Department
                    at the University of Buffalo.
                </p>
            </div>
        </div>
    </div>

</footer>