footer {
    margin-top: 1rem;
    padding: 1.5rem 0;

    background-color: #e1e1e1;

    img {
        margin-left: 10px;
        margin-right: 10px;
    }

    #ub-logo {
        max-height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #nsf-logo {
        max-height: 120px;
    }
}