@import 'footer';
@import 'news';
@import 'presentations';

.jumbotron#title-banner {
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: #e1e1e1;
}

.nav-card {
    margin-bottom: 1rem;
}